@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Playball&display=swap');
@font-face {
    font-family: 'Neue Monteral';
    src: local('./public/NeueMontreal-Regular.ttf');
}
@font-face {
    font-family: 'Helvetica';
    src: local(Helvetica) url('./public/Helvetica-Display-Thin.ttf') format('truetype');   ;
    
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Marck+Script&family=Playball&display=swap') ;