.dashboard-container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    min-height:100vh;
    background-color: #C6FCFF;
    overflow-x: hidden;
    
}

.dashboard-content{
    display  : flex;
    flex-direction : row;
    justify-content : space-between;
    max-width : 100vw;

}

.dashboard-sidebar{
    width : 5vw;
    border-right : 1px solid black;
    border-left : 1px solid black;
    min-height : 75vh;
}

.dashboard-details > h1{
    font-family:  'Neue Montreal';
    font-weight: normal;
    font-size: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:0;
    margin-bottom : 0px;
    width: 90vw;
    border-bottom : 1px solid black;
    transition : 0.3s;
 
}

.dashboard-o{
    font-family: 'Marck Script';
    font-weight: normal;
    font-size: 120%;
    margin-top: 2.4vw;
}

.dashboard-cards{
    margin-top : 5vh;
    width : 90vw;


}