.navbar{
    width : 100vw;
    height : 15vh;
    display:flex;
    flex-direction : row;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
    background-color : white;
    max-width: 100vw;

    

}


.nav{ 
    border-right: 1px solid black;
    font-size: 2vw;
    width  : 20vw;
    text-decoration : none;
    color : black;
    font-weight: normal;
    font-style: thin;
    height : 15vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: 'Helvetica';
    transition : 0.2s;
    
}

.nav > p {
    font-weight : normal;
}

.nav:hover{
    background-color: black;
    color : white;
    transition: 0.2s;
}