
.personal-container{
    display:flex;
    flex-direction : column;
    background-color: white;
    max-width: 100vw;
    overflow-x: hidden;
    justify-content: space-between;
    min-height: 100vh;

    
}
.mainbody{
    background-color: white;
    display: flex; 
    flex-direction: row;
 
  
    

}
.details--container > h1 {
    height : -0vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 15vw;
    font-weight: normal;
    font-family: 'Neue Montreal';
    font-weight:110%;
    transition: 0.3s;
}

.details{
    border-top : 1px solid black;
    width : 85vw;
}



.sidebar{
    width : 150vw;
    background-color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    min-height : 75vh;

    
}


.o{
    font-family: 'Marck Script',cursive;
    font-weight :thin;
    font-size: 17.5vw;
    margin-top : 3vw;
}


.information{
    font-family: 'Helvetica', sans-serif;
    font-weight: thin;
    font-size : 5vw;
    transition : 0.2s;
    transition-delay: 0.1s;
}


.details{
    padding : 20px;
}

.information--container > a > button{
    font-family: 'Helvetica';
    font-size : 5vw;
    margin-top : 5vh;
    margin-bottom : 5vh;
    background-color: black;
    border: 1px solid black;
    border-radius : 2vw;
    padding: 1vw;
    cursor: pointer;
    transition: 0.3s;
    width : 20vw;
    color: white;
    font-weight: normal;
    float:right;
    margin-right : 20px
    
}

.information--container > a > button:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}
