.reupload-container{
    background-color: #C6FFF8;
    min-height : 100vh;
    height : 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    width : 100vw;
}


.reupload-body{
    display : flex;
    flex-direction : row;
    justify-content : space-between;
}


.reupload-sidebar{
    min-height : 75vh;
    width : 5vw;
    border-right : 1px solid #000000;
    border-left: 1px solid #000000;
}


.reupload-header > h1{
    font-size : 9vw;
    font-family : 'Neue Montreal';
    font-weight: normal;
    display : flex;
    justify-content : center;
    align-items : center;
    margin-top : 0;
    margin-bottom : 0;
}

.reupload-bottom{
    display : flex;
    flex-direction : column;
    justify-content: center;
    align-items : center;
}

.choose-paper{
    font-family : 'Neue Montreal';
    font-weight : normal;
    font-size : 6vw;
    margin-top : 5vh;
    margin-bottom : 0;
}


.reupload-papers-container{
    display : flex;
    flex-direction: column;
    justify-content : center;
    align-items : left;
    margin-top : 5vh;
    background-color: #D9D9D9;
    padding : 2vw;
    border: 1px solid #000000;
    box-shadow: 0 0 10px 2px #0000003a;
    width : 40vw;

}

.paper-option > h2 { 
    margin-top : 5px;
    margin-bottom: 5px;
    font-family: 'Helvetica';
    font-weight: 100;
    transition : 0.1s;
    font-size: 2vw;
}

.paper-option > h2:hover{
    cursor : pointer;
    color : white;

}

.reupload-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.reupload-header{
    width : 90vw;
    border-bottom : 1px solid #000000;
}

.paper-option {
    display : flex; 
    flex-direction : row;
    align-items: center;
    margin-top:0;
}
.paper-option > img{
    width : 1vw;
    margin-right: 10px;
}


.reupload-fields{
    margin-bottom : 5vh;
}










.reupload-a{
    font-family : 'Marck Script';
    margin-left : 1vw;
    margin-top : 3vh;
    
}

.reupload-text{
    margin-right : 5vw;
}

.paper-text{
    margin-left : 5vw;
}