.submit-container{
    background-color: #FFC6FD;
}

.submit-header > h1{
    font-family: 'Neue Montreal';
    font-weight: normal;
    font-size:  8.5vw;
    margin-top : 0;
    margin-bottom: 0;

}

.submit-a{
    font-family  : 'Marck Script';
    margin-left : 1vw;
}



.submit-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

  

.submit-form-top > span >  h3{

    font-family: 'Neue Montreal';
    font-weight: normal;
    font-size:  3vw;
    margin-top : 0;
    margin-bottom: 0;
}

.submit-form-bottom > span >  h3 {
font-family: 'Neue Montreal';
    font-weight: normal;
    font-size:  3vw;
    margin-top : 0;
    margin-bottom: 0;
}

.submit-mainbody{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sidebar-submit{
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: #FFC6FD;
    width : 8vw;
}

.submit-content{
    display : flex;
    flex-direction: row;
    justify-content: space-between;
}

.submit-text{
    margin-right : 10vw;
}
.abstract-text{
    margin-left: 10vw;
}

.submit-form{
    width: 90vw;
    border-top : 1px solid black;
}

.submit-form-top{
    display:flex;
    flex-direction:row;
    padding : 50px;
}

.submit-form-bottom{
    display:flex;
    flex-direction:row;
    margin-bottom : 10vh;
}

.submit-form-top > span{
    padding : 10px
}

.submit-form-bottom > span{
    padding : 20px
}

.submit-button{
    font-family: 'Helvetica';
    font-size : 2vw;
    background-color: black;
    border: 1px solid black;
    border-radius : 1.5vw;
    padding: 1vw;
    cursor: pointer;
    transition: 0.3s;
    width : 10vw;
    color: white;
    font-weight: normal;
    float:right;
    margin-right : 20px;
    display:flex;
    justify-content: center;
    margin-bottom : 5vw;
    align-items: center;
    
    
}

.submit-button:hover{
    background-color: white;
    color: black;
}


.fileupload-icon { 
    width : 30px;
    margin-left : 1vw;
}