.version-container{

background-color: #C6CFFF;
overflow-x: hidden;
display: flex;
flex-direction: column;
justify-content: space-between;
min-height : 100vh;

}

.version-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   

}

.version-text{
    font-family : 'Neue Montreal';
    font-weight: normal;
    font-size : 17vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;margin-bottom : 0; 
    border-bottom : 1px solid black;
    width : 90vw;
}

.version-o{
    font-family : 'Marck Script';
    font-size : 120%;
    margin-top : 3.4vw;
}
.dropdown--div{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction : column;

}

.version-sidebar{
    width : 5vw;
    border-right:1px solid black;
    border-left : 1px solid black;
    min-height : 76vh;
}

.version--cards{
    margin-bottom : 5vh;
}